{% extends 'base.html.twig' %}

{% block title %}Batch index{% endblock %}

{% block body %}
    <h1>Batch index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Attendees</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for batch in batches %}
            <tr>
                <td>{{ batch.name }}</td>
                <td>
                    {% for attendee in batch.attendees %}
                        {{ attendee.name }} {{ attendee.surname }} |
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('batch_show', {'id': batch.id}) }}">show</a>
                    <a href="{{ path('batch_edit', {'id': batch.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('batch_new') }}">Create new</a>
{% endblock %}
