{% extends 'base.html.twig' %}

{% block title %}Edit Booking{% endblock %}

   {% block stylesheets %}
       {{ parent() }}
       <link rel="stylesheet" href="{{ asset('css/picklist.css') }}">
   {% endblock %}

{% block body %}

    <h1>Edit Booking</h1>

    {{ include('booking/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('booking_index') }}">back to list</a>

    {{ include('booking/_delete_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var data = {
            available: [],
            selected: []
        };
        {% for attendee in booking.attendees %}
        data.selected.push({id: '{{ attendee.id }}', label: '{{ attendee.name }} ' + '{{ attendee.surname }}' },);
        {% endfor %}
    </script>
    <script src="{{ asset('js/picklist.js') }}"></script>
    <script src="{{ asset('js/booking.js') }}"></script>
{% endblock %}
