{% extends 'base.html.twig' %}

{% block title %}New Booking{% endblock %}

   {% block stylesheets %}
       {{ parent() }}
       <link rel="stylesheet" href="{{ asset('css/picklist.css') }}">
   {% endblock %}

{% block body %}
    <h1>Create new Booking</h1>

    {{ include('booking/_form.html.twig') }}

    <a href="{{ path('booking_index') }}">back to list</a>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var $rec = $('.reccurence'), $fin = $('.recurrenceFinishedOn');
        $rec.change(function () {
            if ($rec.val() !== '0') {
                $fin.removeAttr('disabled');
            } else {
                $fin.prop('disabled', true);
            }
        }).trigger('change');
    </script>

    <script src="{{ asset('js/picklist.js') }}"></script>
    <script src="{{ asset('js/booking.new.js') }}"></script>
{% endblock %}

